<strong class="name">{{name}}</strong>
<div class="dashboard">
    <div class="progress">
      <span class="total">Earned: <span class="data">{{total}}</span></span>
      <span class="left">Left: <span class="data">{{left}}</span></span>
      <span class="avg">Average: <span class="data">{{get-average total elapsed}}</span></span>
      <span class="days-left">Days Left: <span class="data">{{days_left}}</span></span>
    </div>

    
    <ul class="habits">
      {{#if isActive}}
      {{#each incompleted itemController="activity"}}
      <ul>
	{{activity-item action='isCompleted' activity=this}}
      </ul>
      {{/each}}
      <strong>Competed Today</strong>
      <ul>
	{{#each completed}}
	<li>{{name}}</li>
	{{/each}}
      </ul>
      {{else}}
      {{#each activity_ids }}
      <li>{{name}}</li>
      {{/each}}
      {{/if}}
    </ul>

    <div class="reward">
      <strong>Reward</strong>
      <img class="reward-image" {{bind-attr src="reward.image"}} />
      <div class="reward-title">{{reward}}</div>
    </div>
</div>
