{{#if isEditing}}
{{input value=name type="text" autofocus="autofocus" }}<button style="float: right" {{action cancel this}}>Cancel</button><button style="float: right" {{action save this}}>Save</button>
{{else}}
<span class="contract-name">{{name}}</span>
<button class="edit-contract" style="float: right" {{action edit this}}>Edit</button>
<button class="delete-contract" style="float: right" {{action delete this}}>Delete</button>
{{/if}}
<div class="progress">
  <span class="total">Earned: <span class="data">{{total}}</span></span>
  <span class="left">Left: <span class="data">{{left}}</span></span>
  <span class="avg">Average: <span class="data">{{get-average total elapsed }}</span></span>
  <span class="days-left">Days Left: <span class="data">{{days_left}}</span></span>
</div>

<ul class="habits">
  {{#each activity_ids}}
  <li><a href="#">{{name}}</a> <span style="float: right" {{action deleteAct this}}>x</span></li>
  {{/each}}
  {{add-activity action="createActivity" con=this}}
</ul>

<div class="reward">
  <img class="reward-image" {{bind-attr src="reward.image"}} />
  {{#if isEditing}}
  <div>{{input value=reward type="text"}}</div>
  {{else}}
  <div class="reward-title">{{reward}}</div>
  {{/if}}
</div>