<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
	<img alt="Logo" src="/assets/logo.png" />
      </a>
    </div>
    
    <div class="header-actions">
      <a href="/learn">Learn More</a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-content">
    <div class="login-form">
      {{#if errorMessage }}
      <div class="alert-error">{{ errorMessage }}</div>
      {{/if}}
      <form class="fields" {{action "login" on="submit"}}>
	<div class="control-group">
	  <div class="email">
	    <label>Email<br>{{input value=email type="text" autofocus="autofocus"}}</label>
	  </div>
	</div>

	<div class="control-group">
	  <div class="password">
	    <label>Password<br>{{input value=password type="password"}}</label>
	  </div>
	</div>

	<div class="control-group">
	  <span class="controls">
	    <label>{{input checked=remember type="checkbox" }}Remember Me</label>
	  </span>
	  

	</div>

	<button type="submit" class="button submit">Login</button>
      </form>
    </div>
  </div>
</div>

<div class="footer">

  <span class="contact">
    <small>Contact us at <a href="mailto:erik@inspiredo.com">erik@inspiredo.com</a></small>
  </span>
<div>


