<strong class="name">{{model.email}}</strong>
	<div class="dashboard">
	  <ul class="feed">
	    <strong>Recent Activity</strong>
	    {{#each recent}}
	    <li>{{title}} - <small>{{format-date date}}</small></li>
	    {{/each}}
	  </ul>

	  <div class="contracts">
	    <ul class="contracts-list">
	      <strong>Contracts</strong>
	      {{#each model.contracts}}
	      
	      {{view App.ContractView}}
		  
	      {{/each}}     

	      {{#add-item addType='contract' link='student.create_contract' }}
	      {{outlet}}
	      {{/add-item}}


	      
	    </ul>
	  </div>
	  
	</div>
