{{#view App.FlashView id="flash-view"}}
  <div id="message">
    {{view.content.message}}
  </div>
{{/view}}

<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
	<img alt="Logo" src="/assets/logo.png" />
      </a>
    </div>
    
    <div class="header-actions">
     {{#link-to 'student_dashboard.profile'}}{{controllers.sign_in.email}}{{/link-to}} | <a href="/sign_out">Sign Out</a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-content">
    <div class="dashboard-container">
      <div class="contracts-pane">
	<strong>Today</strong>
	<ul class="today-list">
	  {{#link-to 'student_dashboard.today' }}<li class="today">Today</li>{{/link-to}}
	</ul>
	<strong>Active Contracts</strong>
	<ul class="contract-list">
	 {{#each active}}
	 {{#link-to 'student_dashboard.contract' this}}<li>{{name}}</li>{{/link-to}}
	 {{/each}}
	</ul>

	<strong>Inactive Contracts</strong>
	<ul class="contract-list">
	 {{#each inactive}}
	 {{#link-to 'student_dashboard.contract' this}}<li>{{name}}</li>{{/link-to}}
	 {{/each}}
	</ul>
      </div>


      <div class="student-dashboard">
	{{outlet}}
      </div>
    </div>

  </div>
</div>

<div class="footer">

  <span class="contact">
    <small>Contact us at <a href="mailto:erik@inspiredo.com">erik@inspiredo.com</a></small>
  </span>
</div>



