<strong class="name">{{model.email}}</strong>
<div class="dashboard">
  <ul class="feed">
    <strong>Recent Activity</strong>
    {{#each feedItems}}
    <li>{{content}} - <small>{{format-date created_at}}</small></li>
    {{/each}}
    {{#if more}}
    <li id='show-more' {{action showMore}}>Show More...</li>
    {{/if}}
  </ul>

  <div class="contracts">
    <ul class="contracts-list">
      <strong>Contracts</strong>
      {{#each model.contract_ids}}
      
      {{view App.ContractView}}
      
      {{/each}}     

      {{#add-item addType='contract' link='dashboard.student.create_contract' }}
      {{outlet}}
      {{/add-item}}


      
    </ul>
  </div>
  
</div>
